.asideIndex {
    flex: 30%;
    padding: 20px;
    background-color: var(--color-gray-dark);
    color: white;
}

.asideIndex img {
    width: 100%;
    filter: grayscale(100%);
    margin: 20px 0px auto
    
}

.asideIndex img:first-child {
  margin: 0 auto
    
}
.asideIndex img:hover {
    filter: grayscale(0%);
}

.botonArribaAsides {
    margin-top: 20px;
}

.asideIndex p {
    font-size: large;
}