:root{
    --color-primario: #EADBC8; /*Principal Claro*/
    --color-primario-oscuro: #1E201E; /*Princial Oscuro*/

    --color-gray-light: #f1f1f1; /*Color Blanco*/
    --color-black: #000000; /*Color Negro*/
    --color-gray: #ccc;
    --color-gray-dark: #333;
    
}