* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    border-radius: 10px;
}

p {
    font-size: large;
}

h1 {
    font-size: x-large;
}

.boton {
    display: flex;
}

a {
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.boton a {
    color: var(--color-gray-light);
    background-color: var(--color-primario-oscuro);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.boton a:hover {
    background-color: var(--color-black);
}

.botonUltimo a {
    margin-bottom: 0px;
}