* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primario);
}

.galeria img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.galeria {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.botonArribaGaleria {
    justify-content: center;
    margin: 20px 20px;
}