header {
    align-items: center;
    text-align: center;
    padding: 60px;
    background-image: url("../imagenes/bannerrock&roll.jpeg");
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-size: 40px;
    margin: 0px 0 20px;

}

header p{
    margin: 0 0 0px;
    font-weight: bold;
}

header div {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
