.row {
    display: flex;
    flex-wrap: wrap;
}

.principal {
    text-align: center;
    flex: 60%;
    background-color: var(--color-primario);
    padding: 20px;
}

.principal h1 {
    text-align: left;
    margin: 0 2vw;
}

.principal p {
    text-align: justify;
    margin: 0 2vw;
    padding: 1vw;
}

.principal .boton  {
    margin: 0 2vw;
}

.principalGen {
    width: 20%;
}

.mejoresrock {
    padding-top: 20px;
}

.mejoresrock img {
    width: 80%;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
    width: 100%;
}
.video-responsive iframe {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
	width: 100%;
    height: 100%;
    max-width: auto;
}