.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-primario-oscuro);
}

.navbar a {
    color: var(--color-gray-light);
    padding: 14px 40px;
    font-size: large;
}

.navbar a:hover {
    background-color: var(--color-gray-light);
    color: var(--color-black);
}
