.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-primario-oscuro);
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

