.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-primario-oscuro);
}

.navbar a {
    color: white;
    padding: 14px 40px;
    font-size: large;
}

.navbar a:hover {
    background-color: white;
    color: black;
}
