.row {
    display: flex;
    flex-wrap: wrap;
}

.principal {
    text-align: center;
    flex: 70%;
    background-color: rgb(170, 160, 160);
    padding: 20px;
}

.principal img{
    width: 20%;
}

.principal p {
    text-align: justify;
    font-size: x-large;
}


