* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.rowQuienesSomos {
    display: flex;
    flex-wrap: wrap;
}

.rowQuienesSomos h1 {
    text-align: center;
}

.componente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primario);
    padding: 10px 30px;
    gap: 30px;
}

.textComponente{
    width: 40%;
    text-align: justify;
    margin: 10px 10px;
}

.textDiscografia {
    margin: 0px 20px;
}

.imgComponente img {
    max-height: 300px;
}

.botonArribaQS {
    justify-content: left;
}

@media screen and (width < 700px) {
    .componente {
        flex-direction: column;
        gap: 0;
        padding: 10px 10px;
    }

    .imgComponente img {
        width: 100%;
    }

    .componente.dos {
        flex-direction: column-reverse;
    }

    .textComponente {
        width: 100%;
        margin: 0 auto;
    }
}

