@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "/css/colores.css";
@import "/css/comun.css";
@import "/css/header.css";
@import "/css/navbar.css";
@import "/css/aside.css";
@import "/css/principal.css";
@import "/css/footer.css";
@import "/css/quienessomos.css";
@import "/css/galeria.css";
@import "/css/unete.css";




@media screen and (max-width: 700px) {
    .navbar, .row, .boton {
        flex-direction: column;
    }

    .principal img {
        width: 40%;
    }

    .mejoresrock img {
        width: 80%;
    }
}