@import "/css/colores.css";
@import "/css/comun.css";
@import "/css/header.css";
@import "/css/navbar.css";
@import "/css/aside.css";
@import "/css/principal.css";
@import "/css/footer.css";


@media screen and (max-width: 700px) {
    .navbar, .row, .botonmejoresrock {
        flex-direction: column;
    }

    .principal img {
        width: 40%;
    }

    .mejoresrock img {
        width: 80%;
    }

    .video-responsive iframe {
        top:10px;
    }
    
}