@import "/css/colores.css";
@import "/css/comun.css";
@import "/css/header.css";
@import "/css/navbar.css";
@import "/css/aside.css";
@import "/css/principal.css";
@import "/css/footer.css";

footer {
    width: 100%;
    background-color: var(--color-primario-oscuro);
}

@media screen and (max-width: 700px) {
    .navbar, .row {
        flex-direction: column;
    }

    .principal img {
        width: 40%;
    }
}