@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "/css/colores.css";
@import "/css/comun.css";
@import "/css/header.css";
@import "/css/navbar.css";
@import "/css/main.css";
@import "/css/asideRight.css";
@import "/css/asideLeft.css";
@import "/css/footer.css";
@import "/css/quienessomos.css";
@import "/css/galeria.css";
@import "/css/unete.css";




@media screen and ( width < 700px) { /* Esta es una nueva forma de hacer el media Query, solo con width*/
    .navbar, .row, .boton {
        flex-direction: column;
    }

    .principal img {
        width: 40%;
    }

    .mejoresrock img {
        width: 80%;
    }

    .asideLeft {
        order: 2;
    }
}