* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.h1unete {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 20px;
}

.informacionUsuario {
    background-color: var(--color-primario-oscuro);
    padding: 20px;
    color: white;
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
}
.formunete {
    display: flex;
    column-gap: 15px;
}
.formunete .cajaInformacionUsuario input {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 1rem;
}

@media screen and (width < 700px) {
    .formunete {
        flex-direction: column;
        gap: 15px;
    }
}